MONGODB_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/base_de_datos
JWT_SECRET=tu_jwt_secret_super_seguro_aqui
MAIL_USER=no-reply@example.com
MAIL_PASS=tu_password_aqui
ADMIN_EMAIL=admin@example.com